<p> Bienvenue sur TPPJ.</p>
<p>Le but de ce site est de vous proposer un menu aléatoire basé sur vos habitudes alimentaires.</p>
<p>Vous pourrez choisir votre régime (végétarien, omnivore, végétalien...) la période (1 jour, 1 semaine, 1 mois...) et les repas (petit-déjeuner, déjeuner, diner...)</p>