<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>TPPJ</title>
</head>
<body>
    <header>
        <p>TPPJ -> Trois Plats Par Jour : Faire les courses n'a jamais été aussi simple</p>
    </header>
    {{{body}}}
    <footer>
        <p>Imaginé et conçu par Jokeur</p>
    </footer>
</body>
</html>